@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    text-decoration: none;
}
html{
    text-align: center;
    font-family: Poppins, 'Segoe UI', sans-serif;
    
}

nav{
    top:0;
    width:100%;
    padding:25px;
    border-bottom: 2px solid #e3e3e3;
}
nav a{
    margin: 0 20px;
    color:#929292;
}
nav a:active, nav a:hover{
    color:black;
}


h1 {
  margin-top: 100px;
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 1.2em;
}
h1 + p{
    width:800px;
    margin:35px auto;
}

#try-now{
    color:white;
    background: linear-gradient(to right,#D786FF, #722CFF);
    display: inline-block;
    padding:1em 3em;
    font-weight:600;
    border-radius: 1000px;
    transition: 150ms ease;
}
#try-now:hover{
    scale:1.1;
}

.video-container{
    width: 1100px;
    height: 619px;
    border-radius:15px;
}

.about h1{
    margin-bottom: 50px;
}
.cards{
    display:flex;
    justify-content: center;
}
.cards div h2{
    margin-bottom:10px;
}
.cards div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:300px;
    width:300px;
    box-sizing: border-box;
    margin: 0 20px 20px 20px;
    border-radius: 30px;
    border:none;
    padding: 20px;
}

.cards div:first-child{
    background-color: white;
    color:rgb(0, 0, 0);
    border: 1px solid

}
.cards div:first-child + div{
    background: #722CFF;
    color:white;
}
.cards div:last-child{
    background: black;
    color:white;
}
h1 + form{
    width:max-content;
    margin: 0 auto;
}
h1 + form input{
    display:flex;
    padding:5px 20px;
    margin: 0 auto;
    margin-bottom:15px;
    font:inherit;
    border-radius: 30px;
}
h1 + form input[type="text"], h1 + form input[type="password"]{
    width: 400px;
    height: 50px;
    border: none;
    background-color: #EBEDF5;
}
input[type="submit"] {
width: 200px;
  padding: 10px;
  background-color: #0071ff;
  color: white;
  font-weight: 600;
  border: none;
}
nav a.active {
  color: black;
}